@if (Session["UserId"] != null)
{
    using (Html.BeginForm("LoggedOut", "Accounts", FormMethod.Get, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right mr-auto">
           
            <li>
                <div class="chip">
                    <a href="@Url.Action("Details", "Accounts", new { id = int.Parse(Session["UserId"].ToString()) })" title="Logged in as @Session["UserName"].ToString()">
                        @Session["UserName"].ToString()
                        <img src="~/Dummy Data/avatar.png" alt="Person" width="96" height="96">
                    </a>
                    <a class="closebtn" href="javascript:document.getElementById('logoutForm').submit()" title="Logout">&times;</a>
                    
                </div>
            </li>
            
        </ul>
    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">@Html.ActionLink("Register", "Register", "Accounts", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Login", "Login", "Accounts", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
        </ul>
}
