@model Project1.Models.UserAccount

@{
    ViewBag.Title = "Details";
}
<div class="container">
<h2>Details</h2>

<div>
    <h4>UserAccount</h4>
    <hr />
    @if (ViewBag.Message != null)
    {
        <div class="form-group">
            @if (ViewBag.Status == "warning")
            {
                <div class="alert alert-warning">@ViewBag.Message</div>
            }
            @if (ViewBag.Status == "info")
            {
                <div class="alert alert-info">@ViewBag.Message</div>
            }
            @if (ViewBag.Status == "success")
            {
                <div class="alert alert-success">@ViewBag.Message</div>
            }
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId })
</p>
    </div>